<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qdlg.zy.ccp.dao.CampusDAO">

	<!-- =========================================================== -->
    <!-- 定义resultMap                                                                                                                                                                             -->
    <!-- =========================================================== 
	<resultMap id="userMap" type="qdlg.zy.ccp.bean.User">
		<result property="" column=""/>
		<result property="" column=""/>
	</resultMap>
	-->
	<!-- =========================================================== -->
    <!-- 一些公共变量设置                                                                                                                        			 -->
    <!-- =========================================================== -->
	<sql id="selectAllColumns">
		<![CDATA[
		select
			id, type, name, year, department, class
		from
			campus
		]]>
	</sql>
	
	<!-- =========================================================== -->
    <!-- DAO方法中的基本增删改查方法                                                                                                                           -->
    <!-- =========================================================== -->
    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
		insert into campus( type, name, year, department, class, userId)
		values( #{type},#{name}, #{year}, #{department}, #{class}, #{userId})
	    ]]>	
	</insert>
	
	<!-- 根据id查询 -->
	<select id="queryById" parameterType="Object" resultType="qdlg.zy.ccp.bean.Campus">
		<include refid="selectAllColumns"/>
		<![CDATA[
			where id = #{id}
		]]>	
	</select>
	
	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		<![CDATA[
		update campus
		   set 
		        type=#{type},
				name = #{name},
				year  = #{year},
				department  = #{department},
				class  = #{class}
		 where id = #{id}
		]]>
	</update>
	
	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateBySelect" parameterType="Object">
		update campus
		set
		       1=1
   			<if test="type != null  ">
				,type = #{type}
			</if>
   			<if test="name != null  ">
				,name = #{name}
			</if>
   			<if test="year != null  ">
				,year  = #{year}
			</if>
   			<if test="department != null  ">
				,department  = #{department}
			</if>
   			<if test="class != null  ">
				,class  = #{class}
			</if>
		 where id = #{id}
	</update>
	
	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		<![CDATA[
		delete from campus where id = #{id}
		]]>
	</delete>
	
	<!-- 查询总数 -->
	<select id="queryCount" resultType="java.lang.Long">
		select count(1) from campus
	</select>
	
	<!-- 分页查询
	<select id="queryList" resultType="qdlg.zy.ccp.bean.Campus">
		<include refid="selectAllColumns"/>
		
		<include refid="pagination_tail" />
	</select>
	 -->
</mapper>