<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qdlg.zy.ccp.dao.TestDAO">

	<!-- =========================================================== -->
    <!-- 定义resultMap                                                                                                                                                                             -->
    <!-- =========================================================== -->
	<resultMap id="demoMap" type="qdlg.zy.ccp.bean.TestBean">

		<result property="name" column="name"/>
		<result property="password" column="password"/>
	</resultMap>
	
	<!-- =========================================================== -->
    <!-- 一些公共变量设置                                                                                                                        			 -->
    <!-- =========================================================== -->
	<sql id="selectAllColumns">
		<![CDATA[
		select
			d_name,
			d_pwd,
		from 
			demo demo_
		]]>
	</sql>
	<sql id="where_fragement">
		where 1=1
			<if test="entity.password != null">
			and d_pwd = #{entity.password}
			</if>
			<if test="entity.name != null and entity.name != ''">
			and d_name = #{entity.name}
			</if>
	</sql>
	<!-- mysql 分页尾 -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.rows}
	</sql>
	
	<!-- =========================================================== -->
    <!-- Dao方法中的基本增删改查方法                                                                                                                           -->
    <!-- =========================================================== -->
    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
		insert into demo
		  (		
		  		name
		  		,password
		   )
		values
		  (
				#{name}
				,#{password}
		   )
	    ]]>	
	</insert>
	
	<!-- 根据id查询 -->
	<select id="queryById" resultMap="demoMap" parameterType="Object">
		<include refid="selectAllColumns"/>
		<![CDATA[
			where demo_.d_id = #{id}
		]]>	
	</select>
	
	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		<![CDATA[
		update demo
		   set 
				d_name = #{name},
				d_pwd  = #{password},
				updated = now()
		 where d_id = #{id}
		]]>
	</update>
	
	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateBySelect" parameterType="Object">
		update demo
		set
		    updated = now()
   			<if test="name != null  ">
				,d_name = #{name}
			</if>
   			<if test="password != null  ">
				,d_pwd = #{password}
			</if>
		 where d_id = #{id}
	</update>
	
	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		<![CDATA[
		delete from demo where d_id = #{id}
		]]>
	</delete>
	
	<!-- 查询总数 -->
	<select id="queryCount" resultType="java.lang.Long">
		select count(1) from demo
		<include refid="where_fragement" />
	</select>
	
	<!-- 分页查询 -->
	<select id="queryList" resultMap="demoMap">
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<!-- order by 手工添加 -->
		<include refid="pagination_tail" />
	</select>
</mapper>