<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qdlg.zy.ccp.dao.FriendDAO">

	<!-- =========================================================== -->
    <!-- 定义resultMap                                                                                                                                                                             -->
    <!-- =========================================================== 
	<resultMap id="userMap" type="qdlg.zy.ccp.bean.User">
		<result property="" column=""/>
		<result property="" column=""/>
	</resultMap>
	-->
	<!-- =========================================================== -->
    <!-- 一些公共变量设置                                                                                                                        			 -->
    <!-- =========================================================== -->
	<sql id="selectAllColumns">
		<![CDATA[
		select
			id, friendId, friendListId, userId
		from
			friend
		]]>
	</sql>
	
	<!-- =========================================================== -->
    <!-- DAO方法中的基本增删改查方法                                                                                                                           -->
    <!-- =========================================================== -->
    <!-- 插入记录 -->
    <insert id="add" parameterType="Object" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
		insert into friend( friendId, friendListId, userId)
		values( #{friendId},#{friendListId}, #{userId})
	    ]]>	
	</insert>
	
	<!-- 根据id查询 -->
	<select id="queryById" parameterType="Object" resultType="qdlg.zy.ccp.bean.Friend">
		<include refid="selectAllColumns"/>
		<![CDATA[
			where id = #{id}
		]]>	
	</select>
	
	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		<![CDATA[
		update friend
		   set 
				friendId = #{friendId},
				friendListId  = #{friendListId},
				userId  = #{userId}
		 where id = #{id}
		]]>
	</update>
	
	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateBySelect" parameterType="Object">
		update friend
		set
		       1=1
   			<if test="friendId != null  ">
				,friendId = #{friendId}
			</if>
   			<if test="friendListId != null  ">
				,friendListId  = #{friendListId}
			</if>
   			<if test="userId != null  ">
				,userId  = #{userId}
			</if>
		 where id = #{id}
	</update>
	
	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		<![CDATA[
		delete from friend where id = #{id}
		]]>
	</delete>
	
	<!-- 查询总数 -->
	<select id="queryCount" resultType="java.lang.Long">
		select count(1) from friend
	</select>
	
	<!-- 分页查询 
	<select id="queryList" resultType="qdlg.zy.ccp.bean.Friend">
		<include refid="selectAllColumns"/>
		
		<include refid="pagination_tail" />
	</select>
	-->
</mapper>